<div class="details"
     fxLayout="column">
    <div fxFlex="100"
         class="details_header">
        <app-header [title]="title | uppercase"></app-header>
    </div>
    <div fxFlex="100"
         fxLayout="row-reverse"
         fxLayout.lt-md="column"
         class=details_content>
        <div fxFlex.gt-sm="60"
             fxFlex.lt-md="80"
             class="details_content_img">
            <img *ngIf="carDetails.pictureUrl !== ''"
                 [src]="carDetails.pictureUrl"
                 [alt]="carDetails.make">
        </div>
        <div fxFlex.gt-sm="40"
             fxFlex.lt-md="80"
             class="details_content_info">
            <div class="details_content_info_description">
                {{carDetails.description | capitalize}}
            </div>
            <div class="details_content_info_list">
                <app-car-table-info [carInfo]="carDetails"
                                    [hideImg]="true"></app-car-table-info>
            </div>

        </div>

    </div>

</div>