<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span fxFlex="10"
              fxFlex.lt-sm="25">GAP </span>
        <span fxFlex="1">|</span>
        <button fxFlex="10"
                mat-flat-button
                color="primary"
                #list='routerLinkActive'
                routerLink="/list"
                routerLinkActive="{{''}}"
                [ngStyle]="list.isActive ? activeColor: {}"> List</button>
        <span fxFlexOffset="1"
              fxFlex="1">|</span>
        <button fxFlex="10"
                mat-flat-button
                color="primary"
                #compare='routerLinkActive'
                routerLink="/compare"
                routerLinkActive="{{''}}"
                [ngStyle]="compare.isActive ? activeColor: {}"> Compare</button>
    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>