<mat-card class="example-card car-card">
    <mat-card-header>
        <mat-card-title>{{carInfo.make | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{carInfo.model | capitalize}} - {{carInfo.year}}</mat-card-subtitle>
    </mat-card-header>
    <div class="car-card_img">
        <img [src]="carInfo.pictureUrl"
             [alt]="carInfo.make"
             height="200vh">
    </div>
    <mat-card-content class="car-card_content">
        <!-- <p>Price: {{carInfo.price}}</p> -->
        <mat-card-title>{{carInfo.price}}</mat-card-title>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button
                color="primary"
                [routerLink]="['/details/car', carInfo.carId]"
                class="car-card_actions_button">Details</button>
    </mat-card-actions>
</mat-card>