.list {
    &_header {
        padding: 0 3%
    }

    &_content {
        margin: 1% 0;
        padding: 0 3%;

        &_list {
            &_card {

                min-width: 325px;
                padding: 0 1%;
                margin: 1% 0;
            }
        }
    }

}