.compare {
    &_header {
        padding: 0 3%
    }

    &_content {
        margin: 1% 0;
        padding: 0 3%;

        &_tables {
            &_compare:first-child {
                padding-right: 2.5%;

                @media screen and (min-width: 600px) {
                    padding: 1%;
                }
            }

            &_compare:last-child {
                padding-left: 2.5%;

                @media screen and (min-width: 600px) {
                    padding: 1%;
                    border-left: 1px solid #666666d0;
                }
            }
        }
    }
}